/* -------------------------------------------- */
/* Styling //////////////////////////////////// */
/* -------------------------------------------- */

footer {
  height: 50px;
  display: grid;
  place-items: center;
  border-top: 1px solid #394cf8;
  background: #394cf8;
}

footer a {
  font-size: 70%;
  text-decoration: none;
  color: white;
}
