/* -------------------------------------------- */
/* Styling //////////////////////////////////// */
/* -------------------------------------------- */

header {
  height: 40px;
  color: White;
  background: #4c5eff;
  display: flex;

  & > a {
    text-decoration: none;
    display: flex;
    align-items: center;

    img {
      filter: invert(1);
      margin-left: 20px;
    }

    & > h1 {
      color: White;
      position: center;
      font-size: 200%;
    }

    header a:hover,
    header a:active {
      color: #394cf8;
    }
  }
  header div.login {
    flex: 1;
    margin-right: 0.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
