/* -------------------------------------------- */
/* Styling //////////////////////////////////// */
/* -------------------------------------------- */

div#root {
  background: White;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  & > div.Layout {
    background: WhiteSmoke;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    & > main.Layout {
      padding: 30px;
      width: 100%;
    }
  }
}

div.StickyHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
